<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCawq7L7rGL4Yka6ElZ1gsFDgdZAVa7Mlo</string>
	<key>GCM_SENDER_ID</key>
	<string>764549294285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.coffee-maker.dev</string>
	<key>PROJECT_ID</key>
	<string>coffee-maker-vgv</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-maker-vgv.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764549294285:ios:fc703fecfdd30621c82184</string>
</dict>
</plist>